# Scraping HTML tables into Pandas with read_html.
Source: Wikipedia

In [3]:
import pandas as pd
import requests

In [4]:
url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"

In [5]:
response = requests.get(url)

In [7]:
response.ok  #Checking if the request went through ok

True

In [8]:
response.status_code  #Checking the status code of the response

200

In [11]:
df = pd.read_html(url)

In [12]:
df

[                                             0
 0  Largest economies by nominal GDP in 2021[1],
                                                    0  \
 0  .mw-parser-output .legend{page-break-inside:av...

                                                    1  \
 0  $750 billion–$1 trillion $500–$750 billion $25...

                                                    2
 0  $50–$100 billion $25–$50 billion $5–$25 billio...  ,
     Country or territory    Region      IMF[1]               UN[12]  \
     Country or territory    Region    Estimate       Year  Estimate
 0        United States *  Americas  22675271.0       2021  21433226
 1                China *      Asia  16642318.0  [n 2]2021  14342933
 2                Japan *      Asia   5378136.0       2021   5082465
 3              Germany *    Europe   4319286.0       2021   3861123
 4       United Kingdom *    Europe   3124650.0       2021   2826441
 ..                   ...       ...         ...        ...       ...
 208   Marshall Islands *   Oceania       234.0       2021       237
 209           Kiribati *   Oceania       231.0       2021       194
 210              Nauru *   Oceania       133.0       2021       132
 211         Montserrat *  Americas         NaN        NaN        67
 212             Tuvalu *   Oceania        57.0       2021        47

                World Bank[13]
           Year       Estimate  Year
 0         2020     20936600.0  2020
 1    [n 3]2020     14722731.0  2020
 2         2020      5064873.0  2019
 3         2020      3806060.0  2020
 4         2020      2707744.0  2020
 ..         ...            ...   ...
 208       2018          239.0  2019
 209       2020          200.0  2020
 210       2020          118.0  2019
 211       2020            NaN   NaN
 212       2020           49.0  2020

 [213 rows x 8 columns],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteLists of countries by GDP rankings  \
 0                                            Nominal
 1                      Purchasing power parity (PPP)
 2                                        Growth rate
 3                        Gross national income (GNI)
 4                                Countries by region
 5                              Subnational divisions
 6  Lists of countries by financial rankings List ...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteLists of countries by GDP rankings.1
 0  Per capita Past and projected per capita Secto...
 1  Per capita Past per capita Past and projected ...
 2  African countries Asian states European Union ...
 3                  PPP per capita Nominal per capita
 4  Africa PPP nominal Commonwealth of Nations PPP...
 5  Albania Argentina Australia Austria Belarus Be...
 6  Lists of countries by financial rankings List ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ,
          vteLists of countries by financial rankings  \
 0                                              Trade
 1                                         Investment
 2                                              Funds
 3                                    Budget and debt
 4                                   Income and taxes
 5                                         Bank rates
 6                                           Currency
 7                                              Other
 8  Lists of countries by GDP rankings List of int...

        vteLists of countries by financial rankings.1
 0  Account balance % of GDP Exports net per capit...
 1                   FDI received past FDI abroad GFI
 2  Forex reserves Forex reserves (ex. gold) Gold ...
 3  Government budget PPP % of GDP per capita Cred...
 4  Tax rates Inheritance tax Tax revenue Wage ave...
 5  Central bank interest rate Commercial bank pri...
 6               Exchange rates to US$ Inflation rate
 7  Financial Development Index Corporate governan...
 8  Lists of countries by GDP rankings List of int...  ,
               vteEconomic classification of countries  \
 0   Developed country Developing country Least dev...
 1                                   Three-World Model
 2                        Gross domestic product (GDP)
 3                                             Nominal
 4                       Purchasing power parity (PPP)
 5                         Gross national income (GNI)
 6                                               Wages
 7                                              Wealth
 8                             Other national accounts
 9                                   Human development
 10                                     Digital divide
 11       Net international investment position (NIIP)

             vteEconomic classification of countries.1
 0   Developed country Developing country Least dev...
 1   First World Second World Third World Fourth World
 2   Nominal By country past and projected per capi...
 3   By country past and projected per capita per c...
 4   By country future estimates per capita per cap...
 5   (Nominal, Atlas method) per capita (PPP) per c...
 6   Average wage Europe Employee compensation (per...
 7   Wealth per adult Europe Financial assets per c...
 8   Gross National Happiness Net material product ...
 9   Human Development Index by country inequality-...
 10  ICT Development Index Number of broadband Inte...
 11        Per capita (creditors) Per capita (debtors)  ,
                                0  \
 0                        Nominal
 1  Purchasing power parity (PPP)

                                                    1
 0  By country past and projected per capita per c...
 1  By country future estimates per capita per cap...  ]

In [16]:
df[0]

                                             0
0  Largest economies by nominal GDP in 2021[1]

In [17]:
df[1]

,0,1,2
0,.mw-parser-output .legend{page-break-inside:av...,$750 billion–$1 trillion $500–$750 billion $25...,$50–$100 billion $25–$50 billion $5–$25 billio...

In [23]:
df[2]

    Country or territory    Region      IMF[1]               UN[12]  \
    Country or territory    Region    Estimate       Year  Estimate
0        United States *  Americas  22675271.0       2021  21433226
1                China *      Asia  16642318.0  [n 2]2021  14342933
2                Japan *      Asia   5378136.0       2021   5082465
3              Germany *    Europe   4319286.0       2021   3861123
4       United Kingdom *    Europe   3124650.0       2021   2826441
..                   ...       ...         ...        ...       ...
208   Marshall Islands *   Oceania       234.0       2021       237
209           Kiribati *   Oceania       231.0       2021       194
210              Nauru *   Oceania       133.0       2021       132
211         Montserrat *  Americas         NaN        NaN        67
212             Tuvalu *   Oceania        57.0       2021        47

               World Bank[13]
          Year       Estimate  Year
0         2020     20936600.0  2020
1    [n 3]2020     14722731.0  2020
2         2020      5064873.0  2019
3         2020      3806060.0  2020
4         2020      2707744.0  2020
..         ...            ...   ...
208       2018          239.0  2019
209       2020          200.0  2020
210       2020          118.0  2019
211       2020            NaN   NaN
212       2020           49.0  2020

[213 rows x 8 columns]

In [24]:
dfs = df[2]

In [25]:
dfs.head()

  Country or territory    Region      IMF[1]               UN[12]             \
  Country or territory    Region    Estimate       Year  Estimate       Year
0      United States *  Americas  22675271.0       2021  21433226       2020
1              China *      Asia  16642318.0  [n 2]2021  14342933  [n 3]2020
2              Japan *      Asia   5378136.0       2021   5082465       2020
3            Germany *    Europe   4319286.0       2021   3861123       2020
4     United Kingdom *    Europe   3124650.0       2021   2826441       2020

  World Bank[13]
        Estimate  Year
0     20936600.0  2020
1     14722731.0  2020
2      5064873.0  2019
3      3806060.0  2020
4      2707744.0  2020

In [26]:
dfs.describe()

             IMF[1]        UN[12] World Bank[13]
           Estimate      Estimate       Estimate
count  1.950000e+02  2.130000e+02   2.070000e+02
mean   4.817050e+05  4.109341e+05   4.105079e+05
std    2.098602e+06  1.848419e+06   1.853521e+06
min    5.700000e+01  4.700000e+01   4.900000e+01
25%    9.950500e+03  6.020000e+03   7.454000e+03
50%    3.772000e+04  2.509500e+04   2.611100e+04
75%    2.503615e+05  1.834660e+05   1.957120e+05
max    2.267527e+07  2.143323e+07   2.093660e+07

In [27]:
dfs.shape

(213, 8)

In [28]:
dfs.columns

MultiIndex([('Country or territory', 'Country or territory'),
            (              'Region',               'Region'),
            (              'IMF[1]',             'Estimate'),
            (              'IMF[1]',                 'Year'),
            (              'UN[12]',             'Estimate'),
            (              'UN[12]',                 'Year'),
            (      'World Bank[13]',             'Estimate'),
            (      'World Bank[13]',                 'Year')],
           )

In [29]:
df1 = dfs.columns[[0,5]]

In [30]:
df1

MultiIndex([('Country or territory', 'Country or territory'),
            (              'UN[12]',                 'Year')],
           )

In [33]:
df2 = dfs[df1]

In [34]:
df2

    Country or territory     UN[12]
    Country or territory       Year
0        United States *       2020
1                China *  [n 3]2020
2                Japan *       2020
3              Germany *       2020
4       United Kingdom *       2020
..                   ...        ...
208   Marshall Islands *       2018
209           Kiribati *       2020
210              Nauru *       2020
211         Montserrat *       2020
212             Tuvalu *       2020

[213 rows x 2 columns]

In [40]:
url_1 ="https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(PPP)"

In [41]:
data = pd.read_html(url_1)

In [42]:
data

[                                                   0
 0  Largest economies in the world by PPP GDP in 2...,
                                                    0  \
 0  .mw-parser-output .legend{page-break-inside:av...

                                                    1  \
 0  $1–$2 trillion $500 billion – $1 trillion $250...

                                                    2
 0  $50–$100 billion $25–$50 billion $5–$25 billio...  ,
                                 Country (or territory)         Subregion  \
                                 Country (or territory)         Subregion
 0                                              China *      Eastern Asia
 1                                      United States *  Northern America
 2                                              India *     Southern Asia
 3                                              Japan *      Eastern Asia
 4                                            Germany *    Western Europe
 ..                                                 ...               ...
 223                                Wallis and Futuna *         Polynesia
 224                                           Tuvalu *         Polynesia
 225                                     Saint Helena *    Western Africa
 226  The time allocated for running scripts has exp...               NaN
 227  The time allocated for running scripts has exp...               NaN

        Region      IMF[1]         World Bank[5]                          \
        Region    Estimate    Year      Estimate                    Year
 0        Asia  26656766.0  2021.0    24273360.0                    2020
 1    Americas  22675271.0  2021.0    20936600.0                    2020
 2        Asia  10207290.0  2021.0     9907028.0                    2020
 3        Asia   5585786.0  2021.0     5328033.0                    2019
 4      Europe   4743673.0  2021.0     4469546.0                    2020
 ..        ...         ...     ...           ...                     ...
 223   Oceania         NaN     NaN           NaN                     NaN
 224   Oceania        52.0  2021.0          55.0                    2020
 225    Africa         NaN     NaN           NaN                     NaN
 226       NaN         NaN     NaN          10.0  2003 [obsolete source]
 227       NaN         NaN     NaN           8.0                    2017

          CIA[6]
        Estimate                    Year
 0    22526502.0                    2019
 1    20524945.0                    2019
 2    10155083.0                    2019
 3     5231066.0                    2019
 4     4482448.0                    2019
 ..          ...                     ...
 223        60.0  2004 [obsolete source]
 224        49.0                    2019
 225        31.0  2009 [obsolete source]
 226         NaN                     NaN
 227         NaN                     NaN

 [228 rows x 9 columns],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteLists of countries by GDP rankings  \
 0                                            Nominal
 1                      Purchasing power parity (PPP)
 2                                        Growth rate
 3                        Gross national income (GNI)
 4                                Countries by region
 5                              Subnational divisions
 6  Lists of countries by financial rankings List ...

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}.mw-parser-output .infobox .navbar{font-size:100%}.mw-parser-output .navbox .navbar{display:block;font-size:100%}.mw-parser-output .navbox-title .navbar{float:left;text-align:left;margin-right:0.5em}vteLists of countries by GDP rankings.1
 0  Per capita Past and projected per capita Secto...
 1  Per capita Past per capita Past and projected ...
 2  African countries Asian states European Union ...
 3                  PPP per capita Nominal per capita
 4  Africa PPP nominal Commonwealth of Nations PPP...
 5  Albania Argentina Australia Austria Belarus Be...
 6  Lists of countries by financial rankings List ...                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            ,
          vteLists of countries by financial rankings  \
 0                                              Trade
 1                                         Investment
 2                                              Funds
 3                                    Budget and debt
 4                                   Income and taxes
 5                                         Bank rates
 6                                           Currency
 7                                              Other
 8  Lists of countries by GDP rankings List of int...

        vteLists of countries by financial rankings.1
 0  Account balance % of GDP Exports net per capit...
 1                   FDI received past FDI abroad GFI
 2  Forex reserves Forex reserves (ex. gold) Gold ...
 3  Government budget PPP % of GDP per capita Cred...
 4  Tax rates Inheritance tax Tax revenue Wage ave...
 5  Central bank interest rate Commercial bank pri...
 6               Exchange rates to US$ Inflation rate
 7  Financial Development Index Corporate governan...
 8  Lists of countries by GDP rankings List of int...  ,
               vteEconomic classification of countries  \
 0   Developed country Developing country Least dev...
 1                                   Three-World Model
 2                        Gross domestic product (GDP)
 3                                             Nominal
 4                       Purchasing power parity (PPP)
 5                         Gross national income (GNI)
 6                                               Wages
 7                                              Wealth
 8                             Other national accounts
 9                                   Human development
 10                                     Digital divide
 11       Net international investment position (NIIP)

             vteEconomic classification of countries.1
 0   Developed country Developing country Least dev...
 1   First World Second World Third World Fourth World
 2   Nominal By country past and projected per capi...
 3   By country past and projected per capita per c...
 4   By country future estimates per capita per cap...
 5   (Nominal, Atlas method) per capita (PPP) per c...
 6   Average wage Europe Employee compensation (per...
 7   Wealth per adult Europe Financial assets per c...
 8   Gross National Happiness Net material product ...
 9   Human Development Index by country inequality-...
 10  ICT Development Index Number of broadband Inte...
 11        Per capita (creditors) Per capita (debtors)  ,
                                0  \
 0                        Nominal
 1  Purchasing power parity (PPP)

                                                    1
 0  By country past and projected per capita per c...
 1  By country future estimates per capita per cap...  ]

In [45]:
data[2]

                                Country (or territory)         Subregion  \
                                Country (or territory)         Subregion
0                                              China *      Eastern Asia
1                                      United States *  Northern America
2                                              India *     Southern Asia
3                                              Japan *      Eastern Asia
4                                            Germany *    Western Europe
..                                                 ...               ...
223                                Wallis and Futuna *         Polynesia
224                                           Tuvalu *         Polynesia
225                                     Saint Helena *    Western Africa
226  The time allocated for running scripts has exp...               NaN
227  The time allocated for running scripts has exp...               NaN

       Region      IMF[1]         World Bank[5]                          \
       Region    Estimate    Year      Estimate                    Year
0        Asia  26656766.0  2021.0    24273360.0                    2020
1    Americas  22675271.0  2021.0    20936600.0                    2020
2        Asia  10207290.0  2021.0     9907028.0                    2020
3        Asia   5585786.0  2021.0     5328033.0                    2019
4      Europe   4743673.0  2021.0     4469546.0                    2020
..        ...         ...     ...           ...                     ...
223   Oceania         NaN     NaN           NaN                     NaN
224   Oceania        52.0  2021.0          55.0                    2020
225    Africa         NaN     NaN           NaN                     NaN
226       NaN         NaN     NaN          10.0  2003 [obsolete source]
227       NaN         NaN     NaN           8.0                    2017

         CIA[6]
       Estimate                    Year
0    22526502.0                    2019
1    20524945.0                    2019
2    10155083.0                    2019
3     5231066.0                    2019
4     4482448.0                    2019
..          ...                     ...
223        60.0  2004 [obsolete source]
224        49.0                    2019
225        31.0  2009 [obsolete source]
226         NaN                     NaN
227         NaN                     NaN

[228 rows x 9 columns]

In [46]:
data_1 = data[2]

In [47]:
data_1.head()

  Country (or territory)         Subregion    Region      IMF[1]          \
  Country (or territory)         Subregion    Region    Estimate    Year
0                China *      Eastern Asia      Asia  26656766.0  2021.0
1        United States *  Northern America  Americas  22675271.0  2021.0
2                India *     Southern Asia      Asia  10207290.0  2021.0
3                Japan *      Eastern Asia      Asia   5585786.0  2021.0
4              Germany *    Western Europe    Europe   4743673.0  2021.0

  World Bank[5]            CIA[6]
       Estimate  Year    Estimate  Year
0    24273360.0  2020  22526502.0  2019
1    20936600.0  2020  20524945.0  2019
2     9907028.0  2020  10155083.0  2019
3     5328033.0  2019   5231066.0  2019
4     4469546.0  2020   4482448.0  2019

In [48]:
data_1.shape

(228, 9)