In [1]:
import requests
from bs4 import BeautifulSoup

In [2]:
r = requests.get('https://www.skysports.com/premier-league-table')

In [3]:
soup = BeautifulSoup(r.text, 'html.parser')

In [4]:
r.ok

True

In [5]:
r.status_code

200

In [7]:
league_table = soup.find('table', class_ = 'standing-table__table callfn')

In [8]:
for team in league_table.find_all('tbody'):
    rows = team.find_all('tr')
    for row in rows:
        pl_team = row.find('td', class_ ='standing-table__cell standing-table__cell--name')
        pl_team = pl_team['data-long-name']
        played = row.find_all('td', class_ = 'standing-table__cell')[2].text
        won = row.find_all('td', class_ = 'standing-table__cell')[3].text
        drawn = row.find_all('td', class_ = 'standing-table__cell')[4].text
        lost = row.find_all('td', class_ = 'standing-table__cell')[5].text
        gf = row.find_all('td', class_ = 'standing-table__cell')[6].text
        ga = row.find_all('td', class_ = 'standing-table__cell')[7].text
        gd = row.find_all('td', class_ = 'standing-table__cell')[8].text
        points = row.find_all('td', class_ = 'standing-table__cell')[9].text
        print(pl_team, played, won, drawn, lost, gf, ga, gd, points)

Chelsea 7 5 1 1 15 3 12 16
Liverpool 7 4 3 0 17 6 11 15
Manchester City 7 4 2 1 14 3 11 14
Manchester United 7 4 2 1 14 6 8 14
Everton 7 4 2 1 13 8 5 14
Brighton and Hove Albion 7 4 2 1 8 5 3 14
Brentford 7 3 3 1 10 6 4 12
Tottenham Hotspur 7 4 0 3 6 10 -4 12
West Ham United 7 3 2 2 14 10 4 11
Aston Villa 7 3 1 3 10 9 1 10
Arsenal 7 3 1 3 5 10 -5 10
Wolverhampton Wanderers 7 3 0 4 5 6 -1 9
Leicester City 7 2 2 3 9 12 -3 8
Crystal Palace 7 1 4 2 8 11 -3 7
Watford 7 2 1 4 7 10 -3 7
Leeds United 7 1 3 3 7 14 -7 6
Southampton 7 0 4 3 5 10 -5 4
Burnley 7 0 3 4 5 11 -6 3
Newcastle United 7 0 3 4 8 16 -8 3
Norwich City 7 0 1 6 2 16 -14 1